:root {
  --color-white: #fff;
  --color-gray: #777;
  --color-gray-light-1: #ccc;
  --color-gray-light-2: #c0bdbd;
  --color-gray-light-3: #bbb8b4;
  --color-gray-light-4: #d9d7d3;
  --color-gray-dark: #333;
  --color-red: #e43e3e;
  --color-red-light: #da627d;
  --color-yellow: #ffd98a;
  --shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-small: 0 0 0.6rem rgba(0, 0, 0, 0.3);
  --shadow-yellow: 0 2rem 6rem rgba(255, 217, 138, 0.3);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 68%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 48%;
  }
}

body {
  font-family: 'Baloo Da 2', cursive;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-white);
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-gray)), to(var(--color-gray-dark)));
  background-image: linear-gradient(to right bottom, var(--color-gray), var(--color-gray-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.side-nav {
  font-size: 1.5rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 100;
}

@media only screen and (max-width: 75em) {
  .side-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 15rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (max-width: 68.75em) {
  .side-nav {
    margin-left: 8rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .side-nav {
    margin-left: 0;
    margin-top: 1rem;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

.side-nav__item {
  margin: 0 2rem;
  position: relative;
  padding: 0.4rem 0;
}

@media only screen and (max-width: 75em) {
  .side-nav__item {
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.side-nav__item .fas {
  font-size: 1.1rem;
  padding-left: 0.4rem;
  padding-bottom: 0.45rem;
}

.side-nav__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(var(--color-red-light)), to(var(--color-red)));
  background-image: linear-gradient(to left, var(--color-red-light), var(--color-red));
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-image 0.1s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-image 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-image 0.1s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-image 0.1s, -webkit-transform 0.2s;
}

.side-nav__item:hover::before, .side-nav__item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.side-nav__item:active::before {
  background: var(--color-red);
}

.side-nav__link:link, .side-nav__link:visited {
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
  padding-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 75em) {
  .side-nav__link:link, .side-nav__link:visited {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header {
  height: 100vh;
  position: relative;
}

@media only screen and (max-width: 56.25em) {
  .header {
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(119, 119, 119, 0.5)), to(rgba(119, 119, 119, 0.6))), url(../img/header-photo.jpg);
    background-image: linear-gradient(to right bottom, rgba(119, 119, 119, 0.5), rgba(119, 119, 119, 0.6)), url(../img/header-photo.jpg);
    background-position: center;
    padding: 5rem;
  }
}

.header__heading {
  position: relative;
  z-index: 100;
}

.header__heading h1 {
  font-size: 9rem;
  font-weight: 300;
  line-height: 100%;
  padding-top: 15rem;
}

.header__heading h1 span:first-child {
  display: block;
}

.header__heading h1 .highlight {
  letter-spacing: 3px;
  line-height: 4rem;
}

@media only screen and (max-width: 56.25em) {
  .header__heading h1 .highlight {
    line-height: 100%;
  }
}

.header__heading h1 .highlight:hover {
  line-height: 100%;
}

.header__heading h2 {
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

.header__photo {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

@media only screen and (max-width: 75em) {
  .header__photo {
    top: -3rem;
    right: -5rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .header__photo {
    display: none;
  }
}

.header__img {
  height: 75vh;
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 3px;
}

.about {
  font-size: 1.6rem;
  font-weight: 100;
  margin-bottom: 20rem;
}

@media only screen and (max-width: 56.25em) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 75em) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 20rem;
  }
}

@media only screen and (max-width: 68.75em) {
  .about__content {
    padding: 0 15rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .about__content {
    padding: 0 7rem;
  }
}

.about__photo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  width: 43rem;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border-radius: 3px;
}

.about__text {
  margin: 0 3rem;
}

.about__text p:not(:last-child) {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 75em) {
  .about__text {
    margin-top: 3rem;
    text-align: center;
  }
}

.skills {
  font-size: 1.6rem;
  margin-bottom: 20rem;
}

@media only screen and (max-width: 56.25em) {
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.skills__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 5rem;
}

.skills__dev {
  margin-bottom: 3rem;
}

.contact {
  font-size: 1.6rem;
  margin-bottom: 30rem;
}

@media only screen and (max-width: 56.25em) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__text--main {
  display: inline-block;
  padding-right: 1rem;
}

.contact__text--smiley {
  font-size: 1.8rem;
  color: var(--color-yellow);
  -webkit-animation: roll 5s infinite;
          animation: roll 5s infinite;
}

@-webkit-keyframes roll {
  0% {
    -webkit-transform: translateX(0) rotate(-100deg);
            transform: translateX(0) rotate(-100deg);
  }
  50% {
    -webkit-transform: translateX(100%) rotate(100deg);
            transform: translateX(100%) rotate(100deg);
  }
  100% {
    -webkit-transform: translateX(0) rotate(-100deg);
            transform: translateX(0) rotate(-100deg);
  }
}

@keyframes roll {
  0% {
    -webkit-transform: translateX(0) rotate(-100deg);
            transform: translateX(0) rotate(-100deg);
  }
  50% {
    -webkit-transform: translateX(100%) rotate(100deg);
            transform: translateX(100%) rotate(100deg);
  }
  100% {
    -webkit-transform: translateX(0) rotate(-100deg);
            transform: translateX(0) rotate(-100deg);
  }
}

.footer {
  font-size: 1.4rem;
}

.footer__text {
  color: var(--color-gray);
  padding-bottom: 1rem;
}

.section-title {
  font-size: 5rem;
  display: inline-block;
  letter-spacing: 1rem;
  text-transform: lowercase;
  opacity: 0.3;
  margin-bottom: 5rem;
  border-bottom: 2px solid var(--color-yellow);
}

@media only screen and (max-width: 75em) {
  .section-title {
    padding-top: 6rem;
  }
}

.list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list__heading {
  letter-spacing: 0.3rem;
  font-size: 2.6rem;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__heading i {
  margin-right: 1.2rem;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11rem;
          flex: 0 0 11rem;
  margin: 1.5rem;
  padding: 0.8rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (max-width: 68.75em) {
  .list__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
  }
}

.list__item i {
  font-size: 3.5rem;
  margin: 1rem auto;
}

.list__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-radius: 3px;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.btn:link, .btn:visited {
  font-size: 1.5rem;
  color: var(--color-white);
  text-decoration: none;
  display: inline-block;
}

.btn-learn-more:link, .btn-learn-more:visited {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0.3;
}

.btn-learn-more:link::after, .btn-learn-more:visited::after {
  display: block;
  content: '';
  border-bottom: 1px solid var(--color-yellow);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: border-bottom 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, -webkit-transform 0.2s;
  transition: border-bottom 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, border-bottom 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
  transition: transform 0.2s, border-bottom 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, -webkit-transform 0.2s;
}

.btn-learn-more:link:hover, .btn-learn-more:visited:hover {
  color: var(--color-red-light);
  opacity: 1;
}

.btn-learn-more:link:hover::after, .btn-learn-more:visited:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.btn-learn-more:link:active, .btn-learn-more:visited:active {
  color: var(--color-red);
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.btn-contact:link, .btn-contact:visited {
  font-size: 4rem;
  margin: 1.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-contact:hover {
  color: var(--color-red);
  -webkit-transform: scale(1.2) translateY(-0.5rem) rotate(-5deg);
          transform: scale(1.2) translateY(-0.5rem) rotate(-5deg);
  padding: 0;
  border-bottom: 1px solid var(--color-yellow);
}

.btn-contact:hover:nth-child(2n) {
  -webkit-transform: scale(1.2) translateY(-0.5rem) rotate(10deg);
          transform: scale(1.2) translateY(-0.5rem) rotate(10deg);
}

.btn-contact:active, .btn-contact:nth-child(2n):active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  color: var(--color-red-light);
  border-bottom: none;
}

.highlight {
  color: var(--color-red);
  background-color: var(--color-yellow);
  font-weight: 700;
  display: inline-block;
  padding: 0 0.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.highlight:hover {
  -webkit-transform: rotate(5deg) scale(1.3);
          transform: rotate(5deg) scale(1.3);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  cursor: pointer;
}

.text-gradient {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-red-light)), to(var(--color-red)));
  background-image: linear-gradient(to right bottom, var(--color-red-light), var(--color-red));
  -webkit-background-clip: text;
  background-clip: text;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden;
  max-width: 180rem;
  margin: 0 auto;
  padding: 0 4.5rem;
}

@media only screen and (max-width: 112.5em) {
  .container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 75em) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 56.25em) {
  .container {
    padding: 0;
  }
  .container > .content > main,
  .container > .content > footer {
    padding: 0 5rem;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 15rem;
  padding-top: 15rem;
}

@media only screen and (max-width: 75em) {
  .sidebar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
    padding-top: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0;
  }
}

.sidebar__content {
  position: fixed;
  z-index: 1000;
  padding: 4rem;
  border-left: 1px solid var(--color-gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@media only screen and (max-width: 75em) {
  .sidebar__content {
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(var(--color-gray)), to(transparent));
    background-image: linear-gradient(to right, transparent, var(--color-gray), transparent);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    padding: 1rem 5rem;
    border-left: none;
  }
}

@media only screen and (max-width: 56.25em) {
  .sidebar__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sidebar__content .logo {
  display: none;
  width: 3.2rem;
}

@media only screen and (max-width: 68.75em) {
  .sidebar__content .logo {
    display: inline;
  }
}

.sidebar__heading {
  font-size: 1.7rem;
  font-weight: 300;
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 2px solid var(--color-yellow);
  margin-bottom: 2.5rem;
  display: inline-block;
}

@media only screen and (max-width: 75em) {
  .sidebar__heading {
    margin-bottom: 0;
  }
}

.sidebar__heading span {
  color: var(--color-red);
}

.content {
  margin-right: auto;
  padding-left: 15rem;
  width: 100%;
}

@media only screen and (max-width: 75em) {
  .content {
    margin-right: 0;
    padding-left: 0;
  }
}
/*# sourceMappingURL=main.css.map */