:root {
  --color-white: #fff;

  --color-gray: #777;

  --color-gray-light-1: #ccc;
  --color-gray-light-2: #c0bdbd;
  --color-gray-light-3: #bbb8b4;
  --color-gray-light-4: #d9d7d3;

  --color-gray-dark: #333;

  --color-red: #e43e3e;
  --color-red-light: #da627d;

  --color-yellow: #ffd98a;

  --shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-small: 0 0 0.6rem rgba(0, 0, 0, 0.3);
  --shadow-yellow: 0 2rem 6rem rgba(255, 217, 138, 0.3);
}

// $color-yellow: #ffd98a;

// breakpoints for media query
$bp-largest: 112.5em; // 1800px / 16px = 112.5em
$bp-larger: 75em; // 1200px / 16px = 75em
$bp-large: 68.75em; // 1100px / 16px = 68.75em
$bp-medium: 56.25em; // 900px / 16px = 56.25em
$bp-small: 37.5em; // 600px / 16px = 37.5em
$bp-smallest: 31.25em; // 500px / 16px = 31.25em

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px. browser default = 16px, 10px/16px = 62.5%
  scroll-behavior: smooth;

  @media only screen and (max-width: $bp-larger) {
    font-size: 68%;
  }
}

body {
  font-family: 'Baloo Da 2', cursive;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-white);
  background-image: linear-gradient(to right bottom, var(--color-gray), var(--color-gray-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
