:root {
  --color-white: #fff;

  --color-gray: #777;

  --color-gray-light-1: #ccc;
  --color-gray-light-2: #c0bdbd;
  --color-gray-light-3: #bbb8b4;
  --color-gray-light-4: #d9d7d3;

  --color-gray-dark: #333;

  --color-red: #e43e3e;
  --color-red-light: #da627d;

  --color-yellow: #ffd98a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px. browser default = 16px, 10px/16px = 62.5%
}

body {
  font-family: 'Baloo Da 2', cursive;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-white);
  background-image: linear-gradient(to right bottom, var(--color-gray), var(--color-gray-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
