// ============= SIDE NAV =============
.side-nav {
  font-size: 1.5rem;
  // padding-right: 7rem;
  list-style: none;

  &__item {
    // margin: 0.7rem;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    // background-color: var(--color-red);
    background-image: linear-gradient(to left, var(--color-red-light), var(--color-red));
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-image 0.1s;
  }

  &__item:hover::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__link:link,
  &__link:visited {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    display: block;
    position: relative;
    z-index: 100;
    padding-left: 0.5rem;
    padding-right: 7rem;
  }
}

// ============= HEADER =============
.header {
  height: 100vh;
  position: relative;

  &__heading {
    position: relative;
    // top: 18rem;
    // left: 0;
    z-index: 100;

    h1 {
      font-size: 9rem;
      font-weight: 300;
      line-height: 100%;
      padding-top: 15rem;

      span:first-child {
        display: block;
      }

      .highlight {
        letter-spacing: 3px;
      }
    }

    h2 {
      font-size: 4rem;
      font-weight: 200;
      margin-bottom: 2rem;
    }
  }

  &__photo {
    position: absolute;
    top: 0;
    right: -5rem;
    z-index: 10;
  }

  &__img {
    height: 75vh;
    filter: grayscale(60%);
    box-shadow: var(--shadow);
    border-radius: 3px;
  }
}

// ============= ABOUT =============
.about {
  font-size: 1.6rem;
  font-weight: 100;

  // display: flex;
  // flex-direction: column;

  &__content {
    display: flex;
  }

  &__photo {
    // flex: 0 0 1;
  }

  &__img {
    filter: brightness(0.8);
    width: 43rem;
    box-shadow: var(--shadow);
    border-radius: 3px;
  }

  &__text {
    flex: 0 0 50%;
    margin-left: 3rem;

    p:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

// ============= SKILLS =============
.skills {
  font-size: 1.6rem;

  &__content {
    display: flex;
    flex-direction: column;
    margin: auto 5rem;
  }

  &__dev {
    margin-bottom: 3rem;
  }

  &__tools {
  }
}

// ============= CONTACT =============
.contact {
  font-size: 1.6rem;
  padding-bottom: 30rem;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    display: flex;
    align-items: center;

    &--main {
      display: inline-block;
      padding-right: 1rem;
    }

    &--smiley {
      font-size: 1.8rem;
      color: var(--color-yellow);
      animation: roll 5s infinite;

      // color: transparent;
      // background-color: var(--color-yellow);
      // -webkit-background-clip: text;
      // background-clip: text;
    }
  }

  @keyframes roll {
    0% {
      transform: translateX(0) rotate(-100deg); // -120
    }
    50% {
      transform: translateX(100%) rotate(100deg); // 0
    }
    100% {
      transform: translateX(0) rotate(-100deg); // -120
    }
  }

  &__icons {
  }
}

// ============= FOOTER =============
.footer {
  font-size: 1.4rem;
  // padding-top: 30rem;
  // padding-bottom: 2rem;

  &__text {
    color: var(--color-gray);
    padding-bottom: 1rem;
    // display: block;
    // border-top: 1px solid var(--color-gray);
    // padding: 2rem 0;
  }
}

// ============= SECTION TITLE =============
.section-title {
  font-size: 5rem;
  display: inline-block;
  letter-spacing: 1rem;
  text-transform: lowercase;
  opacity: 0.3;
  // margin: 3rem 0;
  margin-bottom: 5rem;
  border-bottom: 2px solid var(--color-yellow);
}

section:not(:first-of-type) {
  .section-title {
    margin-top: 20rem;
  }
}

// ============= LIST =============
.list {
  list-style: none;
  display: flex;
  justify-content: center;

  &__heading {
    // margin-bottom: 2rem;
    letter-spacing: 0.3rem;
    font-size: 2.6rem;
    font-weight: 100;
    display: flex;
    align-items: center;

    i {
      margin-right: 1.2rem;
    }
  }

  &__item {
    // color: var(--color-yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 11rem;
    margin: 1.5rem;
    padding: 0.8rem;
    transition: all 0.2s;

    i {
      font-size: 3.5rem;
      margin: 1rem auto;
    }

    &:hover {
      transform: scale(1.2);
      border-radius: 3px;
      box-shadow: var(--shadow);
      // box-shadow: var(--shadow-yellow);
    }
  }
}

// ============= BUTTON =============
.btn {
  &:link,
  &:visited {
    font-size: 1.5rem;
    color: var(--color-white);
    text-decoration: none;
    display: inline-block;
  }

  &-learn-more {
    &:link,
    &:visited {
      transition: all 0.2s;
      opacity: 0.3;

      &::after {
        display: block;
        content: '';
        border-bottom: 1px solid var(--color-yellow);
        transform: scaleX(0);
        transition: transform 0.2s, border-bottom 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
      }

      &:hover {
        color: var(--color-red-light);
        opacity: 1;

        &::after {
          // content: '\2193';
          // padding-left: 0.5rem;

          transform: scaleX(1);
        }
      }
    }
  }

  &-contact {
    &:link,
    &:visited {
      font-size: 4rem;
      margin: 1.5rem;
      transition: all 0.2s;
    }

    &:hover {
      color: var(--color-red);
      transform: scale(1.2) translateY(-0.5rem) rotate(-5deg);
      // box-shadow: var(--shadow-small);
      padding: 0;
      border-bottom: 1px solid var(--color-yellow);

      &:nth-child(2n) {
        transform: scale(1.2) translateY(-0.5rem) rotate(10deg);
      }
    }

    &:active,
    &:nth-child(2n):active {
      transform: translateY(0);
      color: var(--color-red-light);
      border-bottom: none;
    }
  }
}

// ============= HIGHLIGHT =============
.highlight {
  color: var(--color-red);
  background-color: var(--color-yellow);
  font-weight: 700;
  // border-bottom: 3px solid var(--color-yellow);
  display: inline-block;
  padding: 0 0.5rem;
  transition: all 0.2s;

  &:hover {
    transform: rotate(5deg) scale(1.3);
    box-shadow: var(--shadow);
    cursor: pointer;
  }
}

// ============= TEXT GRADIENT =============
.text-gradient {
  color: transparent;
  background-image: linear-gradient(to right bottom, var(--color-red-light), var(--color-red));
  -webkit-background-clip: text;
  background-clip: text;
}
