.container {
  // border: 2px solid green;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;

  max-width: 180rem;
  // margin: 0 10rem;
  margin: 0 auto;
  padding: 0 4.5rem;

  @media only screen and (max-width: $bp-largest) {
    // background-color: skyblue;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }

  @media only screen and (max-width: $bp-larger) {
    // background-color: skyblue;
    flex-direction: column;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 0;

    & > .content > main,
    & > .content > footer {
      // border: 2px solid red;
      padding: 0 5rem;
    }
  }
}

// ============= SIDEBAR =============
.sidebar {
  // border: 2px solid skyblue;
  display: flex;
  // display: block;
  flex: 0 0 25%;
  flex-direction: column;
  // align-items: center;
  padding-right: 15rem;
  padding-top: 15rem;
  // background-color: var(--color-gray);
  // background-color: rgba(119, 119, 119, 0.8);
  // margin-right: -10rem;
  // border-left: 1px solid var(--color-gray);
  // position: fixed;

  @media only screen and (max-width: $bp-larger) {
    // background-color: skyblue;
    // padding: 2rem;
    align-items: center;
    padding-right: 0;
    padding-top: 0;
    flex: 0 0 0;
  }

  &__content {
    // border: 2px solid skyblue;
    position: fixed;
    z-index: 1000;
    padding: 4rem;
    // padding: 2rem 2rem 2rem 4rem;
    border-left: 1px solid var(--color-gray);

    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media only screen and (max-width: $bp-larger) {
      // background-color: skyblue;
      background-image: linear-gradient(to right, transparent, var(--color-gray), transparent);
      flex-direction: row;
      align-items: center;
      padding: 1rem;
      border-left: none;
      // border-bottom: 1px solid var(--color-gray);
    }

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
    }

    .logo {
      // border: 2px solid skyblue;
      display: none;
      width: 3.2rem;

      @media only screen and (max-width: $bp-large) {
        display: inline;
      }
    }
  }

  &__heading {
    font-size: 1.7rem;
    font-weight: 300;
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 2px solid var(--color-yellow);
    margin-bottom: 2.5rem;
    display: inline-block;
    // z-index: 100;
    // position: fixed;
    // border-left: 1px solid var(--color-gray);

    @media only screen and (max-width: $bp-larger) {
      // background-color: skyblue;
      margin-bottom: 0;
    }

    @media only screen and (max-width: $bp-large) {
      // display: none;
      font-size: 1.9rem;
      margin-bottom: 1rem;
    }

    span {
      color: var(--color-red);
    }
  }
}

// ============= CONTENT =============
.content {
  // background-image: linear-gradient(to right bottom, var(--color-gray-light-1), var(--color-gray));
  // border: 2px solid orangered;
  margin-right: auto;
  padding-left: 15rem;
  width: 100%;

  @media only screen and (max-width: $bp-larger) {
    margin-right: 0;
    padding-left: 0;
  }

  // @media only screen and (max-width: $bp-medium) {
  //   // padding: 2rem;
  //   & > .header {
  //     border: 2px solid skyblue;
  //     padding: 2rem;
  //   }
  // }
}
