// ============= PROJECTS =============
.projects {
  font-size: 1.6rem;
  margin-bottom: 20rem;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
  }

  .section-title {
    margin-bottom: 2rem;
  }
}

.project {
  & > p {
    text-align: center;
    margin: auto 10rem;

    @media only screen and (max-width: $bp-large) {
      margin: auto 5rem;
      // margin: 2rem 5rem auto 5rem;
    }
  }

  &__list {
    // margin-top: 2rem;
    // margin: 5rem;
  }

  &__item {
    display: flex;
    margin: 5rem 5rem 0 5rem;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }
  }

  &__details {
    @media only screen and (max-width: $bp-medium) {
      order: 1;
    }
  }

  &__title {
    @media only screen and (max-width: $bp-medium) {
      text-align: center;
    }
  }

  // &__description,
  // &__links,
  // &__preview {
  //   margin-left: 3rem;
  // }

  &__description {
    margin: 1.5rem auto;

    .highlight {
      line-height: 1.1;
    }
  }

  &__preview {
    width: 50%;
    // height: auto;
    border: 0.5rem solid var(--color-gray-light-1);
    border-radius: 5px;
    margin-left: 4rem;
    box-shadow: var(--shadow-yellow);
    align-self: flex-start;

    // @media only screen and (max-width: $bp-medium) {
    //   align-self: center;
    // }

    @media only screen and (max-width: $bp-medium) {
      order: 0;
      align-self: flex-start;
      margin-left: 0;
      margin-bottom: 3rem;
      width: 100%;
    }
  }
}
